#datasetTable,#summary{

	padding-left: 3em;
	padding-right: 3em;

}

#summary{
	padding-top: 2em;
	color: #585858;
}

/* file upload component*/
#uploadDataset { 
    width: 1px; 
    visibility: hidden;
}

#importDialog{
	padding-left: 50px;
	padding-top: 80px;
}
