.model_type_button{
	background-image: url("../../../images/model_type.png");
    height:28px;
    width:160px;
    text-align: left;
    line-height: 27px;
    margin-top: 30px;
}

#wizzardSteps{
	margin-top: 2%;
	margin-left: 5%;
}

#model_type{
	margin-left: 8%;
}

table, th, td {
    padding: 10px;
}

input.algoName {
        margin-top: 20px;
}



/* Questions*/
#questions_content{
    margin-left: 40px;
}
#questions_block{
    float:left;
}

.question{
    margin-top: 20px;
}

#options_block{
    float:left;
    margin-left: 20px;
}

.option{
    margin-top: 20px;
}



/* Algorithms */

.algorithms{
    float:left;
    margin-left: 40px;
}



/*Hyper parameters*/

#hyperParameters{
    float:left;
    margin-top: 10px;
    margin-left: 30%;
}

#parameters{
    float;left;
    margin-left: 40px;
}

#names_block{
    float:left;
}

.parameter_name{
    margin-top: 25px;
}

#values_block{
    float:left;
    margin-left: 20px;
}

.parameter_value{
    margin-top: 22px;
}
