
/* asset type switcher */
.wr-asset-type-switcher .popover {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1060;
	display: none;
	max-width: 451px;
	padding: 1px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: left;
	white-space: normal;
	background-color: #232323;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 0px solid #232323;
	border: 0px solid rgba(0,0,0,.2);
	border-radius: 0px;
	-webkit-box-shadow: 0 0px 0px rgba(0,0,0,.2);
	box-shadow: 0 0px 0px rgba(0,0,0,.2);
	padding-bottom:8px;
}

.wr-asset-type-switcher .popover.bottom>.arrow {
	top: -11px;
	left: 50%;
	margin-left: -11px;
	border-top-width: 0;
	border-bottom-color: #232323;
	border-bottom-color: #232323;
}

.wr-asset-type-switcher .popover>.arrow {
	border-width: 11px;
}

.wr-asset-type-switcher .popover.bottom>.arrow:after {
	top: 1px;
	margin-left: -10px;
	content: " ";
	border-top-width: 0;
	border-bottom-color: #232323;
}

.wr-asset-type-switcher .popover>.arrow, .popover>.arrow:after {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}

.wr-asset-type-switcher .popover-content {
	padding: 6px 6px;
}

.wr-asset-type-switcher .arrow {
	left:25px !important;
}

.wr-asset-type-switcher .popover {
	left:10px !important;
}


/* sorting */
.dropdown-menu {
	position: absolute;
	top: 40px;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 10px 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: transparent;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 0px solid #ccc;
	border: 0px solid rgba(0,0,0,.15);
	border-radius: 0px;
	-webkit-box-shadow: 0 0px 0px rgba(0,0,0,.175);
	box-shadow: 0 0px 0px rgba(0,0,0,.175);

}

.dropdown-menu-content {
	background-color: #e4e4e4;
	padding:10px 20px;	
	color:#fff;
}

.dropdown-menu-content a {
	color:#333;
	cursor:pointer;
	display:block;
}

.wr-auth .cu-arrow {
	width: 0; 
	height: 0; 
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #e4e4e4;
	left:81%;
	position:relative;
}


/* category selection */
a.ctrl-filter-category {
	display:inline-block;
	background:#237bd5;
	border:1px solid #237bd5;		
	color:#fff;
	text-decoration:none;
	padding:7px 10px 7px 20px;
	width:230px;
	font-size:18px;
	font-weight:100;	
}

a.ctrl-filter-category:hover {
	background:#666;	
	color:#e4e4e4;
	text-decoration: none;
	border:1px solid #666;	
}

.wr-filter-category .dropdown-menu {
	border:0px solid #237bd5;
	background:#237bd5;
	top:53px;
	left:20px;
	width:230px;
	padding-top:0;
	padding-bottom:0;
	color:#fff;	
	font-size:17px;
}

.wr-filter-category .dropdown-menu li a {
	padding-top:7px;
	padding-bottom:7px;
	font-weight:100;	
	color:#fff;	
}

.wr-filter-category .dropdown-menu li a:hover {
	background:#61a3e6;
}

.ctrl-filter-category .glyphicon {
	font-size:13px;
	font-weight:100;
	margin-left:33px;
}



/* panel */
.panel-group .panel {
	margin-bottom: 0;
	border-radius: 0px;
}

.panel-default {
	
}

.panel {
	margin-bottom: 20px;
	background-color: #fff;
	border: 0px solid #e4e4e4;
	border-radius: 0px;
	-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .05);
	box-shadow: 0 0px 0px rgba(0, 0, 0, .05);
}

.panel-default > .panel-heading {
	color: #fff;
	background-color: #999;
	border-color: #e4e4e4;
}

.panel-default > .panel-heading {
	color: #fff;
	background-color: #999;
	border-color: #e4e4e4;
}

.cu-acc-head-title {
	font-weight:400;
	font-size:22px;
}

.cu-acc-head-title:hover {
	text-decoration: none;
}

.panel-title a {
	text-decoration: none;
}

.panel-heading {
	padding: 0px 0px 0px 15px;
	border-bottom: 0px solid transparent;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.panel-title table, .panel-body table {
	width:100%;
}

.panel-title a {
	color:#fff;
}

.cu-acc-head-created {
	font-weight:200;
	font-size:16px;
}

.cu-acc-head-workflow {
	font-weight:200;
	font-size:16px;	
}

.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
	border-top: 0px solid #e4e4e4;
}

.panel-body {
	padding: 10px;
	background:#f9f9f9;
}

.ctrl-exp-col {
	padding:26px;
	padding-left:35px;	
}

.ctrl-exp-col[aria-expanded=false] {
	background-size: 26px 26px !important;
	background:url('../images/icons/ico-collapsed.png') 0.1em 1.4em no-repeat;	
}

.ctrl-exp-col[aria-expanded=true] {
	background-size: 26px 26px !important;
	background:url('../images/icons/ico-expanded.png') 0.1em 1.4em no-repeat;	
}

.empty-button-panel {
	padding:25px 2px;
}


/* input */
.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #999;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
	box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
	border-color: #555;
	outline: 0;
	-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(102, 175, 233, .6);
	box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(102, 175, 233, .6);
}


/* progress bar */
.progress {
	height: 20px;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: #e4e4e4;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .1);
	box-shadow: inset 0 0px 0px rgba(0, 0, 0, .1);
}

.progress-bar {
	background-color: #6c5c76;
}

.t-data-file {
	padding-right:20px;
}

/* tabs */
.nav-tabs {
	border-bottom: 1px solid #6c5c76;
}

.nav-tabs > li > a {
	margin-right: 2px;
	line-height: 1.42857143;
	border: 1px solid transparent;
	border-radius: 0px 0px 0 0;
	color:#6c5c76;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #555;
	cursor: default;
	background-color: #fff;
	border: 1px solid #6c5c76;
	border-top:1px solid #6c5c76;
	border-bottom-color: transparent;
}

.nav-tabs > li > a:hover {
	border-color: #6c5c76 #6c5c76 #6c5c76;
}
.nav > li > a:hover, .nav > li > a:focus {
	text-decoration: none;
	background-color: #6c5c76;
	color:#fff;
}

/* nav pills */
.wr-tabs-grphs .nav-pills > li.active > a, .wr-tabs-grphs .nav-pills > li.active > a:hover, .wr-tabs-grphs .nav-pills > li.active > a:focus {
	color: #fff;
	background-color: #888;
}

.wr-tabs-grphs .nav-pills > li > a {
	border-radius: 0px;
	background: #e4e4e4;
	color: #444;
}

.wr-tabs-grphs .nav-pills > li.disabled a {
	background: transparent;
	opacity: 0.5;
}

.wr-tabs-grphs {
	padding-bottom:10px;
}

/* buttons */
.btn-group-actions {
	margin-top:20px;
}

.btn-primary {
	color: #fff;
	background-color: #533565;
	border-color: #533565;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #444;
	border-color: #444;
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 0px;
}

.btn-main {
	background:#6c5c76;
	padding:12px 20px;
	color:#fff;
	font-size:16px;
	font-weight: 100 !important;
}

.btn-main:hover {
	color:#f0f0f0;
	background:#533565;
}

.btn-main:focus {
	color:#f0f0f0;
	background:#6c5c76;
}


/* testing */

/*GROW*/
.ast-img img {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.ast-img img:hover {
  width: 150px;
  height: 150px;
}

/* alerts */
.alert {
	border-radius: 0px;
	border-left:0px solid transparent;
	border-right:0px solid transparent;
	font-weight: 100;
	font-size: 14px;
	padding:10px;
}

.alert-info {
	color: #333;
	background-color: #fffee7;
	border-color: #fffcac;
}

.alert-warning {
	color: #333;
	background-color: #fff6f6;
	border-color: #ffe3e3;
}

.alert-success {
	color: #333;
	background-color: #f2ffee;
	border-color: #c5ffb1;
}

.alert img.indi {
	vertical-align: middle;
	margin-right:7px
}

.alert .close {
	right:0;
}

/* pagination */
.pagination {
  border-radius: 0px;
  margin:0;
}

.pagination > li > a, .pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #333;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #e4e4e4;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #999;
  border-color: #a38faf;
}

/* datatables theme override */
.dataTable  {
	margin-top:10px;
}

table.dataTable thead th {
	font-weight:100;
	background:#f5f5f5;
	color:#333;
}

table.dataTable thead th, table.dataTable thead td {
	padding: 10px 18px;
	border-bottom: 1px solid #f5f5f5;
}

table.dataTable  select {
	border: 1px solid #e4e4e4;
	font-size:13px;
	padding:5px 10px;
}

table.dataTable.no-footer {
	border-bottom: 1px solid #e4e4e4;
}

.dataTables_filter input, .dataTables_length select  {
	border: 1px solid #f5f5f5;
	font-size:13px;
	padding:5px 10px;
	font-size:12px;
}

.dataTables_length  label , .dataTables_filter label {
	font-weight:100;
	font-size:12px;
}

.dataTables_info  {
	font-size:12px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	color: #fff !important;
	border: 1px solid #a38faf;
	background-color: white;
	background:#999;
}

.paginate_button.current {
	color:#fff !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0.2em 0.7em;
}

/* data lookup */
.wr-datalookup {
	background:#e4e4e4;
	padding:15px;
}

.wr-datalookup .dataTable  thead tr th {
	background:#777;
	color:#fff;
	font-weight:100;
}

.wr-datalookup  table.dataTable.no-footer {
	border-bottom: 0px solid #111;
}

.wr-datalookup  table.dataTable thead th, .wr-datalookup  table.dataTable thead td {
	border-bottom: 0px solid #111;
    padding: 10px 10px;
}

.wr-datalookup  .dataTables_wrapper .dataTables_paginate .paginate_button.current, .wr-datalookup  .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	color: #fff !important;
	border: 1px solid #a38faf;
	background-color: white;
	background:#999;
}

.paginate_button.current {
	color:#fff !important;
}

.wr-datalookup  .dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0.2em 0.7em;
}

.wr-datalookup   .paginate_button:hover {
  color: white !important;
  border: 1px solid #111;
  background-color: #585858;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #585858));
  background: -webkit-linear-gradient(top, #585858 0%, #585858 100%);
  background: -moz-linear-gradient(top, #585858 0%, #585858 100%);
  background: -ms-linear-gradient(top, #585858 0%, #585858 100%);
  background: -o-linear-gradient(top, #585858 0%, #585858 100%);
  background: linear-gradient(to bottom, #585858 0%, #585858 100%);
}