#new_project{
	float:left;
	padding-top: 50px;
	padding-left: 10%;
  margin-left: 10%
}

#new_project_img{
	width:50px;
	height:50px;
	float:left;
}

#new_project_text{
	float:left;
	padding-top: 10px;
}

#open_project{
	float:left;
	padding-top: 50px;
	padding-left: 10%;
}

#open_project_img{
	width:50px;
	height:50px;
	float:left;
}

#open_project_text{
	float:left;
	padding-top: 10px;
}

#help{
	float:left;
	padding-top: 50px;
	padding-left: 10%;
}

#help_img{
	width:50px;
	height:50px;
	float:left;
}

#help_text{
	float:left;
	padding-top: 10px;
}

body{
  background:#FAFAFA;
}

.login {
  position: relative;
  margin: 10% 40%;
  padding: 10px 20px 5px;
  width: 300px;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #E6E6E6), color-stop(1, #BDBDBD));
  background:-moz-linear-gradient( center top, #E6E6E6 5%, #BDBDBD 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#E6E6E6', endColorstr='#BDBDBD');
  background-color:#E6E6E6;
  border-radius: 3px;
  box-shadow: 1px 1px 10px 0px #000000;
  @include box-shadow(0 0 200px rgba(white, .5), 0 1px 2px rgba(black, .3));}

input[type=text], input[type=password] {
  margin: 5px;
  padding: 0 10px;
  width: 280px;
  height: 34px;
  color: #000000;
  background: #E0F2F7;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 2px solid #eff4f7;
  -moz-outline-radius: 3px; 
  @include box-shadow(inset 0 1px 3px rgba(black, .12));

    &:focus {
    border-color: #7dc9e2;
    outline-color: #dceefc;
    outline-offset: 0; // WebKit sets this to -1 by default
  }
}

input[type=submit] {
  margin:10px 80px;
  padding: 0 18px;
  height: 29px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 16px;
  outline: 0;
  @include box-sizing(content-box); // Firefox sets this to border-box by default
  @include linear-gradient(top, #edf5f8, #cde5ef);
  @include box-shadow(inset 0 1px white, 0 1px 2px rgba(black, .15));

  &:active {
    @include box-shadow(inset 0 0 3px rgba(black, .2));
  }
}

#login_title{
  font-size: 24px;
  font-weight: bold;
}

.login p{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding-bottom: 10px;
}



/* Message Box*/

.ui-widget-header,.ui-state-default{
            background:#E6E6E6;
            border: 1px solid #E6E6E6;
            color: #FFFFFF;
}

.ui-widget-content{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #E6E6E6), color-stop(1, #BDBDBD));
    background:-moz-linear-gradient( center top, #E6E6E6 5%, #BDBDBD 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#E6E6E6', endColorstr='#BDBDBD');
    background-color:#E6E6E6;
    border: 1px solid #E6E6E6;
    color: #000000;
  }

.ui-dialog-titlebar,.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #349ee0), color-stop(1, #2d7db3));
    background:-moz-linear-gradient( center top, #349ee0 5%, #2d7db3 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#349ee0', endColorstr='#2d7db3');
    background-color:#349ee0;
    color:#ffffff;
  }


/*Projects*/
#currentProjects{
  margin-left: 50%;
}
#projectsTable{
  font-size: 0.9em;
  margin-top: 4em;
  width: 35em;
  border-style: groove;
  border-color: #FAFAFA;
}

#projectsTable td,th{
  padding: 15px;
  text-align: left;
}

#projectsTable caption{
  text-align: left;
  padding: 0em 1em 1em 0em;
}