/* main template */
.page-header{
	background-color: #ffffff;
	text-align: center;
	clear: both;
}

.page-left-menu{
	background-color: #ffffff; 
	height: 80%; 
	width: 15%; 
	float: left;
}

.body{
	background-color: #ffffff; 
	height: 80%; 
	width: 85%; 
	float: left;
}

.page-footer{
	background-color: #ffffff; 
	clear: both; 
	text-align: center;
}

/* top menu*/
.topMenu{
	background-image: url("../images/topmenu/top_menu_default.png");
	width:170px;
    height:28px;
    float: left;
    text-align: center;
}

.topMenu.menuHiligher{
	background-image: url("../images/topmenu/top_menu_selected.png");
	width:170px;
    height:28px;
    float: left;
    text-align: center;
}

.menulink{
	padding: 7px 50px -5px  -5px; 
}

/* file upload component*/
#uploadDataset { 
    width: 1px; 
    visibility: hidden;
}

#importDialog{
	padding-top: 3%;
}

/* error messages*/
.errorMessage{
	color: #ff1111;
}