#datasetTable,#summary{

	padding-left: 3em;
	padding-right: 3em;

}

#summary{
	padding-top: 2em;
	color: #585858;
}

/* file upload component*/
#uploadDataset{ 
    width: 1px; 
    visibility: hidden;
    padding-left: 10%;
}

#importDialog{
	padding-left: 10%;
	padding-top: 5%;
}
