#datasetTable,#summary{
	padding-left: 3em;
	padding-right: 3em;
}

#summary{
	padding-top: 2em;
	color: #585858;
}

/* file upload component*/
#uploadDataset{
    width: 1px;
    visibility: hidden;
    padding-left: 10%;
}

#importDialog{
	float: left;
	display:table;
	vertical-align: top;
	margin-left: 10%;
}

.cell{
	display:table-cell;
	vertical-align: top;
	padding: 2em 1em 0 0;
}

.row{
	display:table-row;
}

#projectDescription, #projectName, #workflowName{
	width:20em;
}
