/* main template */
.page-header{
	background-color: #dedede;
	height: 20%; 
	width: 85%;
	font-family: "Trebuchet MS", Geneva, sans-serif;
	text-align: LEFT;
	clear: both;
}

.page-left-menu{
	background-color: #ffffff; 
	height: 80%; 
	width: 15%; 
	float: left;
}

.body{
	background-color: #ffffff; 
	height: 80%; 
	width: 85%; 
	float: left;
}

.page-footer{
	background-color: #ffffff; 
	clear: both; 
	text-align: center;
}

/* top menu*/

.menulink{
	padding: 7px 50px -5px -5px;
}

.topMenu{
	background-image: url("../images/topmenu/top_menu_default.png");
	width:170px;
    height:28px;
    float: left;
    text-align: center;
    line-height: 27px;
}

.topMenu.menuHiligher{
	background-image: url("../images/topmenu/top_menu_selected.png");
	width:170px;
	height:28px;
	float: left;
	text-align: center;
}

/* Buttons in UI */
.greenButton{
	padding: 5px 5px;
	color:white;
	background: #80E680;
	width: 130px;
	border-radius: 5px;
	border: 1px solid #57D6C7;
	cursor: pointer;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

.blueButton{
	padding: 5px 5px;
	color:white;
	background: #75A3FF;
	width: 130px;
	border-radius: 5px;
	border: 1px solid #57D6C7;
	cursor: pointer;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

#changeSampleButtons{
	float: right;
	padding: 10px 20px 10px;
}

.bottomNavigationButtons{
	float: right;
	padding: 25px 20px 0px;
}

/* file upload component*/
#uploadDataset { 
    width: 1px; 
    visibility: hidden;
}

#importDialog{
	padding-top: 3%;
}

/* error messages*/
.errorMessage{
	color: #ff1111;
}
