/* main template */

/* Header*/
.page-header{
	background-color: #E6E6E6;
	height:100px;
	width: 101%;
	text-align: left;
	margin-top: -35px;
	margin-left: -0.5%;
	margin-right: -0.5%;
}

#page-header-line{
	background-color: #2E64FE;
	height:2px;
	width: 101%;
	margin-top: -6px;
	margin-left: -0.5%;
	margin-right: -0.5%;
}

#logo{
	width:160px;
	height:70px;
	float:left;
	padding-top: 15px;
	padding-left: 5px;
}

#hader-name{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 40px;
	padding-top: 25px;
	padding-left: 200px;
}

.body{
	background-color: #ffffff; 
	height: 80%; 
	width: 100%; 
	float: left;
}

.page-footer{
	background-color: #ffffff; 
	clear: both; 
	text-align: center;
}


/* top menu*/
.menulink{
	text-decoration:none;
	padding: 7px 50px -5px -5px;
}
.topMenu{
	margin-top: 1%;
	margin-bottom: 1%;
}
.top_Menu_button{
	background-image: url("../images/topmenu/top_menu_default.png");
	width:170px;
    height:28px;
    float: left;
    text-align: center;
    line-height: 27px;
	margin-left: 1%;
}

.top_Menu_button.menuHiligher{
	background-image: url("../images/topmenu/top_menu_selected.png");
	width:170px;
	height:28px;
	float: left;
	text-align: center;
	line-height: 27px;
}

/* Buttons in UI */
.greenButton{
	padding: 5px 5px;
	color:white;
	background: #80E680;
	width: 130px;
	border-radius: 5px;
	border: 1px solid #57D6C7;
	cursor: pointer;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

.blueButton{
	padding: 5px 5px;
	color:white;
	background: #75A3FF;
	width: 130px;
	border-radius: 5px;
	border: 1px solid #57D6C7;
	cursor: pointer;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

#changeSampleButtons{
	float: right;
	padding: 10px 20px 10px;
}

.bottomNavigationButtons{
	float: right;
	padding: 25px 20px 0px;
}

/* file upload component*/
#uploadDataset { 
    width: 1px; 
    visibility: hidden;
}

#importDialog{
	padding-top: 3%;
}

/* error messages*/
.errorMessage{
	color: #ff1111;
}

.half-width-column{
	float: left;
	width: 50%;	
}

