.graphtitle{
	text-align:center;
	margin-top: 4em;
}

.graphSummary{
	text-align:left;
	margin-left: 10%;
	margin-top: -15px;
	margin-bottom: 30px;
}

.graph{
	margin-bottom: 2em;
}

#scatterPlotFeatures{
	margin-left: 30px;
}

#scatterPlot{
	float: center;
	width: 50em;
	margin: auto;
}

#histograms{
	float: center;
	width: 45em;
	margin-top: -2em;
	margin-left: auto;
	margin-right: auto;
}

.half-width-column{
	float: left;
	width: 50%;	
}

#histogram1 svg, #histogram2 svg{
	height: 18em;
}
